/*--- FONTS ----*/
@font-face {
    font-family: font1;
    src: url('font/chineserocksrg.ttf');
}

@font-face {
    font-family: font2;
    src: url('font/gothamlight.TTF');
}

@font-face {
    font-family: font3;
    src: url('font/gothamMedium.TTF');
}

@font-face {
    font-family: font4;
    src: url('font/gotham-extra-narrow-medium.otf');
}

/*--- MAIN ---*/
body{
    margin: 0;
    transition: all .5s ease-in-out;
}
nav{
    padding: 15px 20px;
    box-shadow: 0px 1px 10px #888888;
}
.brandLogo{
    height: 40px;
    width: auto;
    transform: translate(5%, 0%);
}
.navmenu{
    font-size: 15px;
    font-family: font3;
    color: #4E50B1;
    padding: 0 5px;
}
.navmenu a:hover{
    color: #28439e;
}
a > button{
    cursor: pointer;
}
.btnReg{
    background-color: #ffc476;
    color: #d6202c;
    padding: 20px;
    border: none;
    font-family: font3; 
    font-weight: bold;
    font-size: 15px;
    z-index: 4;
}
.btnReg:hover{
    color: white;
}
.level.is-mobile .level-item .btnReg{
    margin: 0 0 0 10px;
}
/*--- HOME ---*/
.allCon{
    top: 80px;
    position: relative;
}
video{
    width: 100%;
}
/*--- EVENT ---*/
.eventCon{
    color: white;
    padding: 50px;
    background-image: url('img/bg-about.png');
    position: inherit;
    border: 0;
    width: auto;
}
.eventCon h1{
    font-family: font1;
    font-size: 40px;
}
.eventCon .btnReg{
    margin: 0;
    padding: 20px;
}
/*--- LINEUP ---*/
.lineupCon{
    background-color: #232149;
    padding: 50px 50px 0 50px;
}
.card-image :hover{
    background-size: 110%;
}
.card-title{
    padding: 10px;
    text-align: center;
    font-family: font3;
    font-weight: bold;
    background-color: #EA6330;
    color: white;
    font-size: 15px;
    position: relative;
}
.card-title2{
    padding: 10px;
    text-align: center;
    font-family: font3;
    font-weight: bold;
    background-color: #FAA742;
    color: white;
    font-size: 15px;
    position: relative;
}
.lineUpimg{
    width: 330px;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.item {
    position: relative;
    overflow: hidden;
    width: 330px;
    padding: 0;
}
.item img {
    max-width: 100%;
    transition: all 0.3s;
}
.item:hover img {
    transform: scale(1.1);
}
/*--- LOCATION ---*/
#location {
    overflow: hidden;
}
.is-relative{
    position: relative;
}
.mapouter{
    width:100%;
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:450px;
    width: 100%;
    z-index: -1;
}
.locCon{
    height:450px;
    width: 100%;
    background-color: #1a74b3;
    box-shadow: 5px 0px 2px #727272;
    text-align: center;
    color: white;
    font-family: font2; 
}
.locCon>h1{
    font-family: font1;
    color: #fca834;
    padding-top: 100px;
    font-size: 35px;
}
.cloud1{
    padding: 50px 0 0 0;
    position: absolute;
    z-index: 4;
    left: -30px;
}
.cloud2{
    padding-top: 350px;
    right: -50px;
    position: absolute;
    z-index: 4;
}
/*--- FAQ ---*/
#faq{
    background-image: url('img/bg-faq.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #FED7B5;
    color: #DE2F36;
    font-family: font2;
    text-align: center;
    padding-bottom: 7em;
}
#faq h1{
    font-family: font1;
    font-size: 40px;
    padding: 30px 0 20px 0;
}
.faqCon{
    padding: 0 40px;
}
.accordions{
    padding: 0 15px;
}
.accordions .accordion .accordion-header+.accordion-body{
    transition: all .55s ease-in-out 0s;
    border: none;
}
.accordion-header{
    background-color: white !important;
    text-align: left; 
    color: #EB6935 !important; 
    border-bottom: 1px solid #EB6935; 
    font-size: 14px; 
    font-weight: bold;
}
.accordion-header i{
    transition: all 300ms ease-in 0s;
}
.is-active i{
    transform: rotate(180deg);
}
.accordions .accordion-body{
    border: none;
}
.accordion-content{
    background-color: white; 
    text-align: left; 
    color: #727272; 
    font-size: 14px; 
    font-weight: bold;
}
.accordion-content > ul{
    list-style: disc;
    padding-left: 25px;
}
.tablet{
    float: right;
}
/*--- FOOTER ---*/
.is-footer{
    background-color: #242248;
    width: 100%;
    height: 60px;
    z-index: 4;
    position: absolute;
    bottom: -21px;
}
.footerLogo{
    height: 35px;
    margin-top: 15px;
}
.icon{
    margin: 15px 0 0 10px;
    color: white;
    opacity: 0.6;
    border:1px solid white;    
    height: 25px;
    border-radius: 50%;
    width: 25px;
    padding: 15px;
}
.icon:hover{
    opacity: 1;
}
a > i{
    text-decoration: none;
}
.socMed{
    margin-left: 60px;
}
/*--- MEDIA QUERY ---*/
@media only screen and (min-width: 2560px){
    #home {
        margin: 0 650px;
    }
}
@media only screen and (max-width: 1024px){
    
    .lineupCon{
        padding: 50px 0 0 0;
    }
    .card-title, .card-title2{
        font-size: 12px;
    }
}
@media only screen and (min-width: 768px){
    iframe.dblock2{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .lineupCon{
        padding: 50px 50px 0 50px;
    }
    .card-title, .card-title2{
        font-size: 15px;
    }   
    .locCon{
        width: 100%;
        height: 250px;
    }
    .locCon > h1{
        padding-top: 55px;
    }
    .cloud2{
        padding-top: 150px;
    }
    .footerLogo{
        margin-top: 20px;
    }
    .is-footer{
        height: 120px;
    }
    .allCon{
        top: 65px;
    }
    .brandLogo{
        margin: 15px;
    }
    nav{
        padding: 0;
    }
    nav .btnReg{
        padding: 30px;
    }
    .socMed{
        display: none;
    }
    .level.is-mobile .level-item {
        margin: 0;
    }
    .faqCon{
        padding: 0 80px;
    }
}
@media only screen and (min-width: 555px){
    video.dblock2{
        display: none;
    }
}
@media only screen and (max-width: 555px){
    video.dblock{
        display: none;
    }
    .eventCon{
        font-size: 12px;
    }
    .eventCon h1, .faqCon h1{
        font-size: 30px;
    }
    .is-one-quarter{
        display: none;
    }
    .card-title, .card-title2{
        font-size: 8px;
    }
    .mapouter, .gmap_canvas{
        padding: 0;
        height: 250px;
    }
    iframe.dblock{
        display: none;
    }
    .lineupCon{
        padding: 40px 0 0 0;
    }
    .faqCon{
        padding: 0 40px;
    }
}
@media only screen and (max-width: 375px){
    nav .btnReg{
        padding: 28px 10px;
    }
    .brandLogo{
        margin: 0;
    }
    #faq p{
        padding: 0 20px;
    }
    .faqCon{
        padding: 0 20px;
    }
}
